div(x-data='{ isOpen: false }' class='relative')
  button(
    @click='isOpen = !isOpen' 
    class='px-4 py-3 bg-white border border-gray-300 rounded-xl flex items-center hover:bg-gray-100'
  )
    span(class='text-2xl'): include ../icons/plus.html
    span(class='ml-2') New
  div(
    x-cloak
    x-transition
    x-show='isOpen'
    @click.outside='isOpen = false'
    class='absolute top-0 left-0 z-10 rounded-lg shadow-lg w-44 bg-white'
  )
    ul(class='py-2 text-sm text-gray-700')
      li(
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        @click=`() => {
          isOpen = false;
          $store.modal.open({
            operation: 'uploadFile', 
            endpoint: '${folderPath}/upload_file'
          });
        }`
      )
        include ../icons/file_upload.html
        span(class='ml-2') Upload file
      li(
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        @click=`() => {
          isOpen = false;
          $store.modal.open({
            operation: 'createChildFolder', 
            endpoint: '${folderPath}/create_folder', 
            values: { name: 'Untitled Folder' }
          });
        }`
      )
        include ../icons/folder_plus.html
        span(class='ml-2') Create folder
