extends ../layouts/default.pug

block content
  h1 File Details
  a(href=`/files/${file.id}/download`) Download
  div
    p
      | File Name: #{file.name}
    p
      | File Size: #{file.sizeInBytes} bytes
    p
      | File Type: #{file.contentType}
    p
      | Lacation:
      a(href= file.parentFolder.type === 'ROOT' ? '/home' : `/folders/${file.parentFolder.id}`)= file.parentFolder.name
    p
      | Created: #{file.createdAt}
    p
      | Last Modified: #{file.updatedAt}
  form(method='POST' action=`/files/${file.id}/delete`)
    button(type='submit') Delete
