- const blockRenameAction = blockType === 'FOLDER' ? 'renameFolder' : 'renameFile';
- const blockDeleteAction = blockType === 'FOLDER' ? 'deleteFolder' : 'deleteFile';
- const blockData = { blockId, ownerDisplay, modified, size, created, contentType, name, blockType };
- const stringifiedData = JSON.stringify(blockData);

div(
  x-data=`{ isOpen: false, position: '' }` 
  @click.outside='isOpen = false'
  class='relative w-max ml-auto'
)
  button(
    @click=`() => {
      isOpen = !isOpen;
      if (!isOpen) return;
      const rect = $event.target.getBoundingClientRect();
      const windowHeight = window.innerHeight;
      $refs.dropdown.style.display = 'block';
      const dropdownHeight = $refs.dropdown.offsetHeight;
      $refs.dropdown.style.display = 'none';
      if (rect.bottom + dropdownHeight > windowHeight) position = 'top';
      else position = 'bottom';
    }`  
    class='p-3 text-base text-gray-950 rounded-full hover:bg-gray-200'
  )
    include ../icons/three_dots.html
  div(
    x-ref='dropdown'
    x-cloak
    x-transition
    x-show='isOpen'
    :class="position === 'top' ? 'bottom-1/2' : 'top-1/2'"
    class='absolute right-full z-10 rounded-lg w-44 bg-white shadow-[rgba(14,30,37,0.12)_0px_2px_4px_0px,rgba(14,30,37,0.32)_0px_2px_16px_0px]'
  )
    ul(class='py-2 text-sm text-gray-700')

      if blockType === 'FILE'
        li(@click='isOpen = false'): a(
          href=`/files/${blockId}/download`
          @click='isOpen = false'
          class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        )
          include ../icons/download.html
          span(class='ml-2') Download

      li(
        @click=`() => {
          isOpen = false;
          $store.modal.open('details', ${ stringifiedData });
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/information.html
        span(class='ml-2') Details

      li(x-data='{ isLoading: false }' :class="isLoading && 'text-gray-500'")
        button(
          type='submit'
          @click=`() => {
            isOpen = false;
            if (isLoading) return;
            isLoading = true;
            fetch('/favorites/${favorite ? 'remove' : 'add'}', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ id: '${blockId}' })
            })
            .then((res) => {
              if (res.ok) location.reload();
            })
            .finally(() => {
              isLoading: false
            })
          }` 
          class='w-full px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        )
          if favorite
            include ../icons/star_fill.html
          else
            include ../icons/star.html
          span(class='ml-2')= favorite ? 'Unfavorite' : 'Favorite'

      li(
        @click=`() => {
          isOpen = false;
          $store.modal.open('${blockRenameAction}', ${stringifiedData} );
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/pencil_square.html
        span(class='ml-2') Rename

      li(
        @click=`() => {
          isOpen = false;
          $store.modal.open('${blockDeleteAction}', ${stringifiedData} );
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/trash.html
        span(class='ml-2') Delete
