- const renameOperation = type === 'FOLDER' ? 'renameFolder' : 'renameFile';
- const deleteOperation = type === 'FOLDER' ? 'deleteFolder' : 'deleteFile';

div(x-data=`{ isOpen: false }` class='relative w-max ml-auto')
  button(@click='isOpen = !isOpen' class='p-3 text-base')
    include ../icons/three_dots.html
  div(
    x-cloak
    x-transition
    x-show='isOpen'
    @click.outside='isOpen = false' 
    class='absolute top-full right-0 z-10 rounded-lg shadow-lg w-44 bg-white'
  )
    ul(class='py-2 text-sm text-gray-700')
      li(
        @click=`() => {
          $store.modal.open('${renameOperation}', '${path}/update', { name: '${name}' });
          isOpen = false;
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/pencil_square.html
        span(class='ml-2') Rename
      li(
        @click=`() => {
          $store.modal.open('${deleteOperation}', '${path}/delete', { name: '${name}' });
          isOpen = false;
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/trash.html
        span(class='ml-2') Delete
      if type === 'FILE'
        li(@click='isOpen = false'): a(
          href=`${path}/download`
          @click='isOpen = false'
          class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        )
          include ../icons/download.html
          span(class='ml-2') Download
