- const renameOperation = blockType === 'FOLDER' ? 'renameFolder' : 'renameFile';
- const deleteOperation = blockType === 'FOLDER' ? 'deleteFolder' : 'deleteFile';
- const blockData = { ownerDisplay, modified, size, created, fileType, name };
- const stringifiedData = JSON.stringify(blockData);

div(x-data=`{ isOpen: false }` class='relative w-max ml-auto')
  button(@click='isOpen = !isOpen' class='p-3 text-base')
    include ../icons/three_dots.html
  div(
    x-cloak
    x-transition
    x-show='isOpen'
    @click.outside='isOpen = false' 
    class='absolute -top-1/2 right-full z-0 rounded-lg w-44 bg-white shadow-[rgba(14,30,37,0.12)_0px_2px_4px_0px,rgba(14,30,37,0.32)_0px_2px_16px_0px]'
  )
    ul(class='py-2 text-sm text-gray-700')

      if blockType === 'FILE'
        li(@click='isOpen = false'): a(
          href=`${path}/download`
          @click='isOpen = false'
          class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        )
          include ../icons/download.html
          span(class='ml-2') Download

        li(
          @click=`() => {
            isOpen = false;
            $store.modal.open({ 
              operation: 'fileDetails', 
              values: ${stringifiedData} 
            });
          }`
          class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
        )
          include ../icons/information.html
          span(class='ml-2') Details

      li(
        @click=`() => {
          isOpen = false;
          $store.modal.open({
            operation: '${renameOperation}', 
            endpoint: '${path}/update', 
            values: { name: '${name}' } 
          });
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/pencil_square.html
        span(class='ml-2') Rename

      li(
        @click=`() => {
          $store.modal.open({
            operation: '${deleteOperation}', 
            endpoint: '${path}/delete', 
            values: { name: '${name}' } 
          });
          isOpen = false;
        }`
        class='px-4 py-2 hover:bg-gray-100 flex items-center cursor-pointer'
      )
        include ../icons/trash.html
        span(class='ml-2') Delete
