- const folderPath = folder.type === 'ROOT' ? '/home' : `/folders/${folder.id}`;
- const parent = folder.parentFolder || null;

div
  if parent
    if parent.type === 'ROOT'
      a(href='/home') home
      span >
    else
      a(href=`/folders/${parent.id}`)= parent.name
      span >
  span= folder.name

div
  ul
    li: a(href= folderPath + '/create_folder') Create New Folder 
    li: a(href= folderPath + '/upload_file') Upload File 
      if (folder.type != 'ROOT')
        li: a(href=`/folders/${folder.id}/update`) Rename Folder 
        li: a(href=`/folders/${folder.id}/delete`) Delete Foder
